
:root {
    --primary-title: rgb(80, 80, 80);
    --secondary-title: rgb(70, 70, 70);
    --background: rgb(245, 245, 245);
    --grey-border: rgb(200, 200, 200);
}


html {
    font-family: 'Ubuntu', 'Roboto', monospace;
}

.upperpage { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 90%;
    padding: 0px 5%;
    height: 90px;
    overflow: hidden;
    z-index: 1;
}

.main {
    text-align: center;
    margin-top: 91px;
}

.brand h1 {
    margin-bottom: 3%;
    font-size: 25px;
    color: var(--primary-title);
}

.brand h2 {
    font-size: 21px;
    font-weight: lighter;
    margin-top: 0;
    color: var(--secondary-title);
}


.contact {
    display: flex;
    /* justify-content: right; */
    align-items: center;
    color: var(--secondary-title);
}

.contact-icons img{
    width: 30px;
    margin-left: 15px;
    opacity: 80%;
}

.contact-icons img:hover {
    transform: scale(1.1);
}

.landing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 60px 0px
}

#profile-pic {
    border-radius:100%;
    width: 250px;
    height: auto;
    /* text-align: left; */
    /* border: 3px solid black; */
    /* margin-right: 100px; */
    margin: 0px 30px
}

#intro {
    text-align: left;
    font-size: 15px;
    width: 350px;
    line-height: 2;
    font-size: 20px;
    /* font-weight: 1000; */
    /* text-align:justify; */
}

#down-arrow {
    height: 35px;
}

#skills {
    margin-bottom: 80px;
}

#skills h2 {
    font-size: 22px;
    color: var(--primary-title);
}


#skills h3 {
    font-weight: lighter;
    color: var(--secondary-title);
}

.skill-div {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-div div {
    width: 55px;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 50px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

.skill-div span {
    font-size: 14px;
    font-weight: 900;
    color: var(--primary-title);
}

#technologies-and-tools {
    margin-bottom: 50px;
}

#projects {
    background-color: var(--background);
    padding: 25px 0px 60px 0px
}

#projects h2 {
    color: var(--primary-title);
}

.projects {
    /* Consider change to css grid later*/ 
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 30px; 
    text-decoration: none;
}

.project-container p {
    font-size: 18px;
    font-weight: lighter;
    color: var(--secondary-title);
}

.project-container img {
    border: 1px solid var(--grey-border);
    border-radius: 4%;
    height: 160px;
    width: 220px;
    opacity: 70%;
}

.project-container:hover p{
    font-weight: bold;
}

.project-container:hover img {
    opacity: 100%;
}

#under-construction {
    height: 120px;
    margin: 10px;
}

footer {
    padding: 18px;
    font-size: 14px;
}

@media screen and (max-width: 420px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    .upperpage {
        position: initial;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    };

    .brand {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .brand h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .brand h2 {
        font-size: 1.2em;
        text-align: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact p {
        margin: 0px auto 10px auto;
    }

    .contact a img {
        margin: 0 10px;
        width: 45px;

    }

    .main {
        position: initial;
        margin-top: 0px;
    }

    .landing-section {
        padding-top: 10px;
    }

    #profile-pic {
        width: 70vw;
    }

    #intro {
        padding: 0 20px
    }




}