 :root {
    --primary-title: rgb(80, 80, 80);
    --secondary-title: rgb(70, 70, 70);
    --background: rgb(245, 245, 245);
    --grey-border: rgb(200, 200, 200);
 }
 
 html {
     font-family: 'Ubuntu', 'Roboto', monospace;
    }
    
.upperpage { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 90%;
    padding: 0px 5%;
    height: 90px;
    overflow: hidden;
    z-index: 1;
}

 .main {
     text-align: center;
     margin-top: 91px;
 }

.brand h1 {
    margin-bottom: 3%;
    font-size: 25px;
    color: var(--primary-title);
 }

 .brand h2 {
     font-size: 21px;
     font-weight: lighter;
     margin-top: 0;
     color: var(--secondary-title);
 }

 #profile-pic {
    border-radius:100%;
    width: 250px;
    height: auto;
    /* text-align: left; */
    /* border: 3px solid black; */
    margin-right: 100px;
}

 .contact {
     display: flex;
     /* justify-content: right; */
     align-items: center;
     color: var(--secondary-title);
 }

 .icons img{
     width: 30px;
     margin-left: 15px;
     opacity: 80%;
    }
    
.icons img:hover {
    transform: scale(1.1);
 }

 .landing-section {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: var(--background);
     padding: 60px 0px
 }

 #intro {
     text-align: left;
 }

 #icon-web-dev {
     width: 350px;
 }

 #intro {
     font-size: 15px;
     width: 350px;
     line-height: 2;
     font-size: 20px;
     /* font-weight: 1000; */
     /* text-align:justify; */
    }

#down-arrow {
    height: 35px;
}

#skills {
    margin-bottom: 80px;
}

#skills h2 {
    font-size: 22px;
    color: var(--primary-title);
}


#skills h3 {
    font-weight: lighter;
    color: var(--secondary-title);
}

.skill-div {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-div div {
    width: 55px;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 50px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

.skill-div span {
    font-size: 14px;
    font-weight: 900;
    color: var(--primary-title);
}

#technologies-and-tools {
    margin-bottom: 50px;
}

#projects {
    background-color: var(--background);
    padding: 25px 0px 60px 0px
}

#projects h2 {
    color: var(--primary-title);
}

.projects {
    /* Consider change to css grid later*/ 
    display: flex;
    flex-direction: row;
    justify-content:initial;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.project-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    margin: 15px 30px; 
}

.project-div a:hover {
    font-weight: bold;
}

.project-div a {
    padding: 5px;
    font-size: 18px;
    font-weight: lighter;
    color: var(--secondary-title);
    text-decoration: none;
}

.project-image {
    border: 1px solid var(--grey-border);
    border-radius: 4%;
    width: 220px;
    opacity: 70%;
}

.project-image:hover {
    opacity: 100%;
    border: 1px solid var(--primary-title);
}

#under-construction {
    height: 120px;
    margin: 10px;
}

footer {
    padding: 18px;
    font-size: 14px;
}