 html {
     font-family: monospace;
     background-image: linear-gradient(315deg, #9fa4c4 0%, #b3cdd1 74%);
 }
 
 .upperpage {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 h1 {
    color: black;
    width: 50%;
    text-align: left;
 }

img {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

 .contact {
     color: black;
     width: 50%;
     text-align: right;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 #summary {
     text-align: center;
     text-justify: auto;
     font-size: 15px;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 300px;
     margin: auto;
    }

.skills {
    text-align: center;
    font-size: small;
}